<?xml version="1.0" encoding="utf-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" 
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.shivam.crm" 
        version="1.0.8">
    <name>ShivamCRM</name>
    <description>
        Shivam Medisoft CRM Using Shivam FrameWork.
    </description>
    <author email="crm.shivam18@gmail.com" href="http://shivammedisoft.com">
        Shivam SWD Team
    </author>
    <content src="index.html"/>
   <preference name="permissions" value="none" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="true" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
     <preference name="StatusBarBackgroundColor" value="#31708F" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
	<preference name="fullscreen" value="true" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="StatusBarOverlaysWebView" value="false" /> 
    <preference name="disable-cursor" value="false" />
    <preference name="android-targetSdkVersion" value="28"/> 
    <preference name="android-minSdkVersion" value="19" />
    <preference name="android-installLocation" value="auto" />
    <preference name="LoadingDialog" value="Please wait, the app is loading"/>
    <preference name="AllowInlineMediaPlayback" value="true"/>
    <preference name="SplashScreenDelay" value="0000"/>
    <preference name="KeepRunning" value="true"/>
	
     <preference name="SplashMaintainAspectRatio" value="true" />
	 <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
	
	<preference name="deployment-target" value="10.0" />
	<!-- 
	<plugin name="cordova-plugin-websqldatabase-initializer"  source="npm" /> 
	
	<plugin name="cordova-sqlite-legacy-build-support"  source="npm" /> 
	<plugin name="cordova-sqlite-storage"  source="npm" /> 
	 <plugin name="cordova-sqlite-legacy-build-support"  source="npm" /> 
<plugin name="cordova-sqlite-storage"  source="npm" />

	<plugin name="cordova-plugin-wkwebview-engine"  source="npm" /> 
	<plugin name="cordova-plugin-wkwebviewxhrfix" />
	
	<plugin name="cordova-plugin-wkwebview-file-xhr"  source="npm" />
	-->
<!-- <plugin name="cordova-plugin-httpd-cors"  source="npm" /> 
 <plugin name="cordova-plugin-ionic-webview"  source="npm" />
 <preference name="scheme" value="app" />
<preference name="hostname" value="localhost" />
-->
	  
	
    <plugin name="cordova.plugins.diagnostic" />
     <preference name="cordova.plugins.diagnostic.modules" value="LOCATION BLUETOOTH WIFI CAMERA NOTIFICATIONS MICROPHONE CONTACTS CALENDAR REMINDERS MOTION NFC EXTERNAL_STORAGE" />
   <!--  Plugins -->
    

    <!-- Core plugins -->
	<plugin name="cordova-plugin-camera" source="npm"/>
       <!--    <plugin spec="https://github.com/apache/cordova-plugin-camera.git" source="git" />-->
     <plugin name="cordova-plugin-camera" source="npm" >
        <variable name="CAMERA_USAGE_DESCRIPTION" value="App would like to access the camera." />
        <variable name="MICROPHONE_USAGE_DESCRIPTION" value="App would like to access the microphone." />
        <variable name="PHOTOLIBRARY_USAGE_DESCRIPTION" value="App would like to access the library." />
    </plugin>
    <plugin name="cordova-plugin-datepicker" source="npm" />
    <plugin name="cordova-plugin-dialogs" source="npm"/>


<plugin name="cordova-plugin-media-capture" source="npm"/>
    <!--    <plugin spec="https://github.com/apache/cordova-plugin-media-capture.git" source="git" />  -->
    <plugin name="cordova-plugin-media-capture" source="npm" >
        <variable name="CAMERA_USAGE_DESCRIPTION" value="App would like to access the camera." />
        <variable name="MICROPHONE_USAGE_DESCRIPTION" value="App would like to access the microphone." />
        <variable name="PHOTOLIBRARY_USAGE_DESCRIPTION" value="App would like to access the library." />
    </plugin>  
     <plugin name="cordova-plugin-file" source="npm"  />
    <plugin name="cordova-plugin-file-transfer" source="npm"  />
    <plugin name="cordova-plugin-datepicker" source="npm" />
    <plugin name="cordova-plugin-dialogs" source="npm"/>
  
     <plugin name="cordova-plugin-geolocation" source="npm" />
     
    <platform name="ios">
    <edit-config target="NSCameraUsageDescription" file="*-Info.plist" mode="merge">
        <string>to take pictures/scan barcodes</string>
    </edit-config>
    <edit-config target="NSPhotoLibraryUsageDescription" file="*-Info.plist" mode="merge">
        <string>to get pictures</string>
    </edit-config>
    <edit-config target="NSLocationWhenInUseUsageDescription" file="*-Info.plist" mode="merge">
        <string>need location access to find things nearby</string>
    </edit-config> 
	    <edit-config target="NSLocationAlwaysUsageDescription" file="*-Info.plist" mode="merge">
        <string>need location access to find things nearby</string>
    </edit-config>

<edit-config target="NSPhotoLibraryAddUsageDescription" file="*-Info.plist" mode="merge">
    <string>need photo library access to save pictures there</string>
</edit-config>

</platform>
 
	<plugin name="cordova-plugin-dialogs" source="npm" />
	<plugin name="cordova-plugin-splashscreen" source="npm" />
    <plugin name="cordova-plugin-network-information" source="npm" />
    <plugin name="cordova-plugin-networkinterface" source="npm" />
     <plugin name="cordova-plugin-fileviewer2" source="npm" />
	 <plugin name="cordova-plugin-vha-fileopener2" source="npm" />
     <plugin name="cordova-plugin-datepicker" source="npm" />
    <plugin name="cordova-plugin-spinnerdialog" source="npm" />
	
	
    <plugin name="cordova-plugin-statusbar" />
    <plugin name="cordova-plugin-device" />
    <plugin name="cordova-plugin-splashscreen" />
  
	<plugin name="uk.co.workingedge.phonegap.plugin.launchnavigator" source="npm" />
	
<!--    for android--> 
	<plugin name="cordova-plugin-badge" source="npm"  />
	<plugin name="phonegap-plugin-push" source="npm" />
	<!-- <plugin name="phonegap-plugin-push" spec="~1.10.0" >
       <variable name="SENDER_ID" value="940836237549" />
    </plugin>--> 
    <plugin name="cordova-plugin-file" source="npm"  />
    <plugin name="cordova-plugin-file-transfer"/>
  <plugin name="cordova-plugin-phonedialer" source="npm" />
    <plugin name="cordova-plugin-x-socialsharing" source="npm" />
    <plugin name="cordova-plugin-fileopener" source="npm" />
       <plugin name="cordova-plugin-whitelist" source="npm" />
    <plugin name = "cordova-plugin-inappbrowser" source="npm" />
    <plugin name= "cordova-plugin-print-pdf" source="npm"/>
	
	<plugin name= "cordova-plugin-market" source="npm"/>
	<plugin name= "cordova-plugin-app-version" source="npm"/>
	<plugin name= "cordova-plugin-keyboard" source="npm"/>
	<plugin name= "cordova-plugin-openfilenative" source="npm"/>
	<plugin name= "cordova-plugin-statusbar" source="npm"/>
	<!--
	<plugin name= "cordova-plugin-migrate-localstorage" source="npm"/>
 
<plugin name= "cordova-plugin-ionic-webview-openblank" source="npm"/> 
<plugin name= "cordova-plugin-migrate-localstorage" source="npm"/>
<plugin name= "cordova-plugin-ionic-migrate-ios-storage" source="npm"/>
<plugin name= "cordova-plugin-ionic-webview-file-xhr" source="npm"/>
 <plugin name= "cordova-plugin-cors" source="npm"/>
<plugin name= "cordova-plugin-detect-webview-engine" source="npm"/> 
-->

	
<platform name="android">   
	<edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application" xmlns:android="http://schemas.android.com/apk/res/android">
            <application android:networkSecurityConfig="@xml/network_security_config" />
        </edit-config>
        <resource-file src="resources/android/xml/network_security_config.xml" target="app/src/main/res/xml/network_security_config.xml" />
        <allow-intent href="market:*" />
    <icon src="resources/CRMicons/android/icon.png" />
    <!--android spalsh -->
    <splash src="resources/CRMsplash/android/272by482-ldpi.png" density="ldpi" />
    <splash src="resources/CRMsplash/android/362by642-mdpi.png" density="mdpi" />
    <splash src="resources/CRMsplash/android/542by962-hdpi.png" density="hdpi" />
    <splash src="resources/CRMsplash/android/722by1282-xhdpi.png" density="xhdpi" />
  
	</platform>
    <platform name="ios">
	    
    <!--ios spalsh -->
    <splash src="resources/CRMsplash/ios/320by480.png"  width="320" height="480" />
    <splash src="resources/CRMsplash/ios/480by320.png"  width="480" height="320" />
    <splash src="resources/CRMsplash/ios/640by960.png"  width="640" height="960" />
    <splash src="resources/CRMsplash/ios/960by640.png"  width="960" height="640" />
    <!-- iPhone 5 / iPod Touch (5th Generation) -->
    <splash src="resources/CRMsplash/ios/640by1136.png"  width="640" height="1136" />
    <splash src="resources/CRMsplash/ios/1136by640.png"  width="1136" height="640" />
 
    <splash src="resources/CRMsplash/ios/750by1334.png"  width="750" height="1334" />
    <splash src="resources/CRMsplash/ios/1334by750.png"  width="1334" height="750" />
    <!-- iPad -->
    <splash src="resources/CRMsplash/ios/768by1024.png"  width="768" height="1024" />
    <splash src="resources/CRMsplash/ios/1024by768.png"  width="1024" height="768" />
    <splash src="resources/CRMsplash/ios/1024by1024.png"  width="1024" height="1024" />
    <!-- Retina iPad -->
    <splash src="resources/CRMsplash/ios/1242by2208.png"  width="1242" height="2208" />
    <splash src="resources/CRMsplash/ios/2208by1242.png"  width="2208" height="1242" />
    
    <splash src="resources/CRMsplash/ios/1536by2048.png"  width="1536" height="2048" />
    <splash src="resources/CRMsplash/ios/2048by1536.png"  width="2048" height="1536" />
    <splash src="resources/CRMsplash/ios/1242by2688.png"  width="1242" height="2688" />
    <splash src="resources/CRMsplash/ios/2688by1242.png"  width="2688" height="1242" />
    <splash src="resources/CRMsplash/ios/1125by2436.png"  width="1125" height="2436" />
    <splash src="resources/CRMsplash/ios/2436by1125.png"  width="2436" height="1125" />
     <splash src="resources/CRMsplash/ios/2732by2732.png"  width="2732" height="2732" />
	 <!-- <splash src="splash/ios/2732by2732.png" gap:platform="ios" width="2732" height="2732" /> -->
      <!--ios spalsh end-->
        <icon src="resources/CRMicons/ios/icon-60@3x.png" width="180" height="180" />

        <!-- iPhone / iPod Touch  -->
        <icon src="resources/CRMicons/ios/icon-60@3x.png" width="180" height="180" />

        <!-- iPhone / iPod Touch  -->
        <icon src="resources/CRMicons/ios/icon-60.png" width="60" height="60" />
        <icon src="resources/CRMicons/ios/icon-60@2x.png" width="120" height="120" />

        <!-- iPad -->
        <icon src="resources/CRMicons/ios/icon-76.png"  width="76" height="76" />
        <icon src="resources/CRMicons/ios/icon-76@2x.png" width="152" height="152" />

        <!-- Settings Icon -->
        <icon src="resources/CRMicons/ios/icon-small.png" width="29" height="29" />
        <icon src="resources/CRMicons/ios/icon-small@2x.png" width="58" height="58" />

        <!-- Spotlight Icon -->
        <icon src="resources/CRMicons/ios/icon-40.png"  width="40" height="40" />
        <icon src="resources/CRMicons/ios/icon-40@2x.png" width="80" height="80" />
        <icon src="resources/CRMicons/ios/icon-Small-40@3x.png"  width="120" height="120" />    

        <icon src="resources/CRMicons/ios/icon.png" width="57" height="57" />
        <icon src="resources/CRMicons/ios/icon@2x.png"  width="114" height="114" />

        <!-- iPad -->
        <icon src="resources/CRMicons/ios/icon-72.png" width="72" height="72" />
        <icon src="resources/CRMicons/ios/icon-57.png"  width="57" height="57" />
        <icon src="resources/CRMicons/ios/icon-72@2x.png" width="144" height="144" />

        <!-- iPhone Spotlight and Settings Icon -->
        <icon src="resources/CRMicons/ios/icon-small.png" width="29" height="29" />
        <icon src="resources/CRMicons/ios/icon-small@2x.png" width="58" height="58" />
	      <icon src="resources/CRMicons/ios/icon-Small@3x.png" width="87" height="87" />
	    
	    <icon src="resources/CRMicons/ios/icon-83.5@2x.png" width="167" height="167" />

        <!-- iPad Spotlight and Settings Icon -->
        <icon src="resources/CRMicons/ios/50by50.png" width="50" height="50" />
        <icon src="resources/CRMicons/ios/100by100.png" width="100" height="100" />
        <icon src="resources/CRMicons/ios/1024by1024.png" width="1024" height="1024" />
         
    </platform>

	<access origin="content:///*" />
    <access origin="*"  />
    <!-- Added the following intents to support the removal of whitelist code from base cordova to a plugin -->
    <!-- Whitelist configuration. Refer to https://cordova.apache.org/docs/en/edge/guide_appdev_whitelist_index.md.html -->
   <plugin name="cordova-plugin-whitelist" spec="1.3.4" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-navigation href="*" />
	<allow-navigation href="http://*/*" />
<allow-navigation href="https://*/*" />
<allow-navigation href="data:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
	 <preference name="WKWebViewOnly" value="true" />
	   <!--  <feature name="CDVWKWebViewEngine"> <param name="ios-package" value="CDVWKWebViewEngine" /> </feature>
	    <preference name="CordovaWebViewEngine" value="CDVWKWebViewEngine" />
	  <preference name="AllowBackForwardNavigationGestures" value="true" />
	    <preference name="Allow3DTouchLinkPreview" value="false" /> -->
    </platform>
  <engine name="android" />
</widget>
